

<body>
  <div id="navigation-bar">
    <nav>
      <div><a href="#">meats</a></div>
      <div><a href="#">veggies</a></div>
      <div><a href="#">fruits</a></div>
      <div><a href="#">dry goods</a></div>
      <div><a href="#">supplies</a></div>
      <div><a href="#">beverages</a></div>
      <div><a href="#">alcohol</a></div>
    </nav>
  </div>
<!-- GETTING STARTED ################################################-->
  <h1>Listing Products</h1>
    <%= link_to 'Create a new product', new_product_path%>
  <!-- /GETTING STARTED ################################################-->
  <div class="buttons">
    <a class="twitter" href=""><img src="assets/twitter.png" /></a>
    <br>
    <a class="facebook" href=""><img src="assets/facebook.png" /></a>
    <br>
    <a class="dribble" href=""><img src="assets/dribble.png" /></a>
    <br>
    <a class="rss" href=""><img src="assets/rss.png" /></a>
  </div>

  <div id="wrapper" class="content">
    <% @products.each do |product| %>
      <div class="feature">
        <a href="#"><h2 class="product-name"><%= product.name %></h2></a>
        <a href="#"><img src="<%= product.ref_pic %>"></a>
        <h6>Bulk progress!</h6>
        <!-- Prog-bar item -->
        <div class="prog-wrap">
          <div class="prog-bar"></div>
        </div>
        <p class="product-description">
          <%= product.description %>
        </p>
        <%= link_to 'Show', product_path(product) %>
        <%= link_to 'Edit', edit_product_path(product) %>
      </div>
    <% end %>
  </div>
</body>